<!-- corpo -->
<div class="container">
    <div class="row ">
        <div class="col-3 p-4">
            <div class="card" style="width: 16rem;">
                <img src="../assets/multiplataforma.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Multiplataforma</h5>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, minus.</p>
                  <a href="#" class="btn btn-dark">Saiba mais</a>
                </div>
            </div>
        </div>
        <div class="col-3 p-4">
            <div class="card" style="width: 16rem;">
                <img src="../assets/performance.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Performance</h5>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, minus.</p>
                  <a href="#" class="btn btn-dark">Saiba mais</a>
                </div>
            </div>
        </div>
        <div class="col-3 p-4">
            <div class="card" style="width: 16rem;">
                <img src="../assets/produtividade.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Produtividade</h5>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, minus.</p>
                  <a href="#" class="btn btn-dark">Saiba mais</a>
                </div>
            </div>
        </div>
        <div class="col-3 p-4">
            <div class="card" style="width: 16rem;">
                <img src="../assets/funcionalidades.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Funcionalidades</h5>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, minus.</p>
                  <a href="#" class="btn btn-dark">Saiba mais</a>
                </div>
            </div>
        </div>
      </div>
</div>
<!-- fim corpo -->