<div class="row">
    <section > 
      <div>
        <p>Rutrum erat nec mollis augue mauris</p>
        <h6>Ac pede phasellus commodo</h6>
      </div>
      <ul>
        <li data-animate="false">
          <div data-percent="25"><i></i></div>
          <p>Porttitor</p>
        </li>
        <li data-animate="false">
          <div data-percent="50"><i></i></div>
          <p>Condimentum</p>
        </li>
        <li data-animate="false">
          <div data-percent="75"><i></i></div>
          <p>Sollicitudin</p>
        </li>
        <li data-animate="false">
          <div data-percent="100"><i></i></div>
          <p>Venenatis</p>
        </li>
      </ul>
    </section>
  </div>